@charset "UTF-8";
@import url("https://v1.fontapi.ir/css/Estedad");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
  font-family: estedad;
}

p::after {
  content: url(../img/smiley.gif);
  display: inline-block;
  background-color: aquamarine;
  width: 400px;
}

.cap {
  width: 40px;
  color: red;
}
